    <div id="home">
    <div id= "menu">
        <ul>
            <div class="iconandword"><img src="assets/img/monitoring.png"><li routerLink="/monitoring">Monitoring</li><img class="sss" src="assets/img/sss.png"></div>
            <div class="iconandword"><img src="assets/img/managedelements.png"><li> Managed Elements</li><img class="sss" src="assets/img/sss.png"></div>
            <div class="iconandword"><img src="assets/img/networkmap.png"><li >Networks Map</li></div>
            <div class="iconandword"><img src="assets/img/services.png"><li >Services</li></div>
            <div class="iconandword"><img src="assets/img/configurations.png"><li >Configurations</li></div>
            <div class="iconandword"><img src="assets/img/telemetry.png"><li >Telemetry</li><img class="sss" src="assets/img/sss.png"></div>
            <div class="iconandword"><img src="assets/img/tasks.png"><li >Tasks</li></div>
            <div class="iconandword"><img src="assets/img/jobs.png"><li >Jobs</li></div>
            <div class="iconandword"><img src="assets/img/events.png"><li >Events</li></div>
            <div class="iconandword"><img src="assets/img/notifications.png"><li >Notifications</li></div>
            <div class="iconandword"><img src="assets/img/systemhealth.png"><li >System Health</li><img class="sss" src="assets/img/sss.png"></div>
            <div class="iconandword"><img src="assets/img/settings.png"><li routerLink="/settings">Settings</li></div>
         </ul>
    </div>


    <div id="result">
                <router-outlet></router-outlet>

    </div>
    </div>